.hero-container {
    font-weight: 700;
    color: #06283C;
    display: flex;
    gap: 3em;
}

.hero-container h1 {
    font-size: 72px;
}

.hero-container img {
    max-width: 90%;
}

@media (max-width: 1100px) {
    .hero-container {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        gap: 0;
        padding-top: 1em;
        padding-inline: 1em;
    }
    .hero-container h1 {
        font-size: 40px;
    }
}

.bab {
    display: flex;
    align-items: center;
    gap: 6em;
    color: #0B3954;
    font-weight: 400;
}

.bab-text {
    max-width: 600px;
}

.bab h2 {
    font-size: 32px;
    font-weight: 700;
    color: #06283C;
}

@media (max-width: 1100px) {
    .bab {
        flex-direction: column-reverse;
        align-items: center;
        gap: 0;
    }
}


.gray-bg {
    background: #F2F2F2;
}


.contribute {
    display: flex;
    align-items: center;
    gap: 6em;
    color: #0B3954;
    font-weight: 400;
}

.contribute-text {
    max-width: 600px;
}

.contribute h2 {
    font-size: 32px;
    font-weight: 700;
    color: #06283C;
}

@media (max-width: 1100px) {
    .contribute {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
}

.feedback {
    display: flex;
    align-items: center;
    gap: 6em;
    color: #0B3954;
    font-weight: 400;
}

.feedback-text {
    max-width: 600px;
}

.feedback h2 {
    font-size: 40px;
    font-weight: 700;
    color: #06283C;
}

@media (max-width: 1100px) {
    .feedback {
        flex-direction: column-reverse;
        align-items: center;
        gap: 0;
    }
}

.fff-bg, .gray-bg {
    padding-inline: 1em;
}

.gray-bg img {
    max-width: 100%;
}

.fff-bg img {
    max-width: 100%;
}