nav {
    background: #fff;
}

.donate {
    display: flex;
    flex-direction: row;
    gap: 4em;
}

.donate-text {
    display: flex;
    flex-direction: column;
    gap: 1em; 
    max-width: 430px;
}

.donate-text h1 {
    font-size: 64px;
    font-weight: 700;
    color: #06283C;
    margin: 0;
}

@media (max-width: 1100px) {
    .donate {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2em;
    }   
    .donate-text {
        padding-inline: 2em;
        padding-bottom: 1em;
    }
}

main p {
    font-weight: 400;
    color: #0B3954;
    margin: 0;
}

.donate-card-container {
    margin-inline-end: calc(-0.5 * calc(100vw - 1100px));
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-width: calc(100vw - 430px);
}

.card {
    display: flex;
    gap: 2em;
    padding-inline-start: 1em;
    padding-inline-end: 1em;
    padding-block: 1em;
    background: #FFF7D8;
    border-radius: 8px;
}

@media (max-width: 1100px) {
    .donate-card-container {
        margin-inline: auto;
        justify-content: center;
        max-width: 372px;
    }
    .card {
        flex-direction: column;
        align-items: center;
        margin-inline: 0.4em;
    }
    .card-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-inline: 1em;
    }
}

.card-text h2 {
    color: #0B3954;
    margin-bottom: 0.4em;
}

.filled-btn {
    color: #fff !important;
    padding-inline: 24px;
    padding-block: 12px;
    font-weight: 500;
    background-color: #EA580C;
    outline: 2px solid #EA580C;
    border-radius: 12px;
    width: fit-content;
    margin-block: 1em;
}

.outline-btn {
    padding-inline: 24px;
    padding-block: 12px;
    font-weight: 500;
    color: #EA580C;
    outline: 2px solid #EA580C;
    border-radius: 12px;
    width: fit-content;
    margin-block: 1em;
}

.btc-qr {
    max-width: 200px;
}

.btc-addr {
    font-weight: bold;
    word-break: break-all;
    text-wrap: wrap;
    margin-top: 1em;
}