.hero-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 3em;
    margin-top: 4em;
}

.hero-header {
    font-size: 72px;
    font-weight: 700;
    color: #06283C;
}

.hero-text > p {
    font-weight: 400;
    color: #0B3954;
    margin-top: 12px;
}

.hero-text > span {
    font-weight: 700;
    text-transform: uppercase;
    color: #0B3954;
}

.hero-text > span > img {
    margin-left: 4px;
}

.store-badges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
}

.coming-soon-btn {
    border: 2px dashed #A6A6A6;
    border-radius: 8px;
    font-size: 10px;
    font-weight: 600;
    padding-inline: 12px;
    padding-block: 10px;
    display: flex;
    align-items: center;
}

@media (max-width: 1100px) {
    .hero-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .hero {
        max-width: calc(100% - 4em);
        margin-inline: 1em;
    }
    .hero-header {
        font-size: 40px;
    }
    .hero-text {
        margin-inline: 1em;
        max-width: 600px;
    }
    .hero-text p {
        margin-block: 1.4em;
        font-size: 16px;
    }
    .store-badges {
        justify-content: center;
    }
}

.ceno-in-media {
    background: linear-gradient(#f0f9ff, #fff);
    display: none; 
}

@media (max-width: 1100px) {
    .ceno-in-media {
        display: block;
        padding-bottom: 2em;
    }
}

.ceno-in-media {
    max-width: 100%;
}

.cim-margin {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    color: #06283C;
    gap: 1em;
}

.cim-margin h2 {
    margin-bottom: 0;
}

.media-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 2.4em;
    width: 100%;
    max-width: 500px;
}

@media (max-width: 400px) {
    .media-logo-container {
        height: 1.8em;
    }
}

.globe-section-container {
    width: 100%;
    background: white;
}

.globe-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 96px;
    background-color: #fff;
    color: #0B3954;
    font-weight: 400;
    padding-block: 2em;
}

.globe-section img {
    max-width: 90%;
}

.globe-text {
    max-width: 500px;
}

@media (max-width: 1100px) {
    .globe-section {
        flex-direction: column;
        gap: 0;
    }
    .globe-text {
        max-width: 600px;
        margin-inline: 2em;
        text-align: center;
    }
    .globe-text h1 {
        font-size: 40px;
    }
    .globe-button-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

h1 {
    font-size: 48px;
    color: #06283C;
    font-weight: 700;
}

li {
    margin-block: 1em;
}

.large-btn {
    color: #fff !important;
    padding-inline: 60px;
    padding-block: 32px;
    font-weight: 500;
    background-color: #EA580C;
    margin-top: 2em;
    border-radius: 12px;
    width: fit-content;
    text-decoration: none;
    margin-bottom: 2em;
}

.info-container {
    margin-inline: 2em;
    border-radius: 30px;
    background: #0B3954;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-block: 5em;
    padding-inline: 3em;
    gap: 4em;
    color: #fff;
    margin-bottom: 3em;
}

.info-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 350px;
}

@media (max-width: 1100px) {
    .info {
        flex-direction: column;
        align-items: center;
    }
    .info-item {
        max-width: 450px;
    }
}

@media (max-width: 750px) {
    .info-container {
        margin-inline: auto;
        max-width: 90%;
    }
    .info {
        padding-inline: 1em;
    }
}

.info-item img {
    max-width: 130px;
}

.info-item h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 0.2em;
}

.more-info {
    text-align: center;
    padding-bottom: 3em;
}

.more-info h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0.4em;
    color: #06283C;
}

.tri-display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-block: 2em;
    padding-inline: 3em;
    gap: 4em;
}

.tri-display-item { 
    text-align: start;
    font-weight: 400;
    color: #0B3954;
}

@media (max-width: 1100px) {
    .tri-display {
        flex-direction: column;
        align-items: center;
    }
    .tri-display-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 450px;
    }
}

.blue-outline-btn {
    border: 2px solid #0EA5E9;
    border-radius: 8px;
    color: #0EA5E9;
    padding-inline: 24px;
    padding-block: 12px;
    font-weight: 500;
    width: fit-content;
}

.large-text-container {
    max-width: 820px;
    margin-inline: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
    margin-bottom: 2em;
}

@media (max-width: 1100px) {
    .large-text-container {
        padding-inline: 4em;
    }
}

.large-text {
    font-size: 42px;
    font-weight: 200;
    color: #0B3954;
    margin-bottom: 0.6em;
}

.larc {
    position: absolute;
    bottom: -100px;
    left: 0;
    max-width: 30%;
}

.lcloud {
    position: absolute;
    bottom: 10vw;
    left: 0;
    max-width: 15%;
}

.rarc {
    position: absolute;
    top: -200px;
    right: 0;
    max-width: 30%;
}

.rcloud {
    position: absolute;
    top: -100px;
    right: 15vw;
    max-width: 15%;
}

@media (max-width: 750px) {
    .lcloud, .rcloud, .larc, .rarc {
        display: none;
    }
    .large-text-container {
        padding-inline: 2em;
    }
    .large-text {
        font-size: 32px;
    }
    
}

.dual-more-info {
    text-align: center;
    padding-bottom: 3em;
}


.dual-more-info h2 {
    font-size: 40px;
    font-weight: 700;
    padding-top: 3em;
    margin-bottom: 0.4em;
    color: #06283C;
}

.dual-display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-block: 2em;
    padding-inline: 3em;
    gap: 2.4em;
}

.dual-display-item { 
    text-align: start;
    line-height: 1.5em;
    font-weight: 400;
    max-width: 435px;
    color: #0B3954;
}

@media (max-width: 1100px) {
    .dual-display {
        flex-direction: column;
        align-items: center;
    }
    .dual-display-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 450px;
    }
}

.signature {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    color: #0C4A6EB2;
    font-weight: 700;
    font-size: 18px;
}

