@font-face {
    font-family: "Vazirmatn";
    src:
        url("../webfonts/vazirmatn-v33.003/fonts/webfonts/Vazirmatn.woff2") format("woff2");

    unicode-range: U+0600-1EEFF;
}

/* nav panel */
nav {
    font-size: 20px;
    padding-inline: 1.2em;
    padding-block: 1.2em;
    line-height: 24px;
    font-weight: 500;
    position: relative;
    z-index: 100;
}

nav img {
    display: inline-block;
}

nav a {
    color: #0B3954B2;
    text-decoration: none;
}

nav a:visited {
    color: #0B3954B2;
}

.desktop-nav {
    line-height: 24px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.desktop-nav-menu {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: end;
    align-items: center;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

nav input {
    position: absolute;
    opacity: 0;
}

nav .i18n-btn {
    border-radius: 4px;
    padding-block: 8px;
    padding-inline: 18px;
    padding-inline-end: 10px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
    color: #0B3954B2;
    border: 1px solid #0B3954B2;
}

nav .i18n-btn span {
    margin-right: -0.3em;
}

nav .desktop-i18n-panel {
    border-radius: 4px;
    border: 1px solid var(--ceno-primary);
    display: none;
    position: absolute;
    background-color: #fff;
}

.i18n-chevron {
    transition: transform 0.07s;
}

.desktop-nav-toggle:checked~.desktop-i18n-panel {
    display: flex;
    flex-direction: column;
    gap: 1em;
    z-index: 3;
}

.desktop-nav-toggle:checked~label .i18n-chevron {
    transform: rotate(180deg);
}

nav .download-btn {
    background-color: var(--ceno-sec-500);
    border: 1px solid var(--ceno-sec-500);
    padding-block: 8px;
    padding-inline: 18px;
    border-radius: 4px;
    color: white !important;
}

nav .download-icon-btn {
    display: none;
}

.logo {
    margin-bottom: -4.25px;
}

.i18n-wrapper {
    flex-flow: nowrap;
}

.mobile-nav {
    display: none;
}

.mobile-logo {
    margin-bottom: -4.25px;
}

.mobile-nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
}

.nav-hamb-icon {
    padding-top: 16px;
    height: 36px;
    width: 36px;
    cursor: pointer;
}

.nav-hamb-icon span {
    display: block;
    width: 36px;
    height: 4px;
    background: #010101;
    margin-bottom: 10px;
    transition: transform 0.07s;
}

.nav-hamb-icon span:first-child {
    transform-origin: 0% 0%;
}

.nav-hamb-icon span:last-child {
    transform-origin: 0% 100%;
}

.mobile-nav-toggle:checked~.nav-hamb-icon span:first-child {
    transform: rotate(45deg) translate(1px, -9px);
}

.mobile-nav-toggle:checked~.nav-hamb-icon span:last-child {
    transform: rotate(-45deg) translate(2px, 8px);
}

.mobile-nav-toggle:checked~.mobile-nav-panel {
    display: flex;
    margin-top: 275px;
    flex-direction: column;
    gap: 1rem;
    opacity: 1;
    z-index: 3;
}

.i18n-toggle-icon {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    color: #0B3954B2;
    border: 1px solid #0B3954B2;
    border-radius: 4px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    padding-block: 6px;
}

@media (max-width: 600px) {
    nav {
        padding-inline: 1em;
        padding-block: 1em;
        font-size: 16px;

    }
    .mobile-nav-menu {
        gap: 18px;
    }
}

@media (max-width: 350px) {
    .i18n-toggle-icon img {
        display: none;
    }
}

.mobile-nav-panel {
    display: none;
    position: absolute;
    left: 0;
    font-size: 1.5rem;
    width: 100%;
    margin-top: 3.4rem;
    padding-block: 1rem;
    padding-inline-start: 4%;
    background-color: #fff;
    transition: opacity 0.07s;
    opacity: 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    z-index: -1;
    color: #0B3954B2;
}

nav .dropdown-btn {
    color: white !important;
    max-width: fit-content;
}


div .mobile-i18n-panel {
    margin-top: 4px;
    padding-block-start: 0.6rem;
    padding-block-end: 0.8rem;
    padding-inline: 0.6rem;
    border-radius: 4px;
    border: 1px solid var(--ceno-primary);
    display: none;
    color: #373756;
    position: absolute;
    background-color: #fff;
    right: 4%;
    z-index: 3;
}

[dir=rtl] nav .mobile-i18n-panel {
    left: 4%;
    right: auto !important;
}

label .mobile-i18n-chevron {
    transition: transform 0.07s;
}

.mobile-i18n-toggle:checked~label .mobile-i18n-chevron {
    transform: rotate(180deg);
}

.mobile-i18n-toggle:checked~.mobile-i18n-panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 1100px) {
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .mobile-logo img {
        max-width: 90px;
        max-height: 27px;
    }

    .download-icon-btn {
        display: inline-block !important;
        background-color: var(--ceno-sec-500);
        border: 1px solid var(--ceno-sec-500);
        padding-block: 5.75px;
        padding-inline: 18px;
        padding-bottom: 2px;
        border-radius: 4px;
        color: white !important;
    }

    .mobile-nav-menu {
        gap: 16px;
    }

    .download-btn {
        display: none;
    }
}