.title {
    text-transform: capitalize;
}

h1 {
    margin: 0;
    color: #06283C;
}

nav {
    background: #fff;
}

main {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 2em;
    align-items: center;
}

section {
    max-width: 1100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2em;
}

article {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    place-self: center;
    gap: 1em;
}

.Blog {
    text-transform: uppercase;
    font-weight: 700;
    color: #E9B223;
    font-size: 18px;
}

time {
    font-weight: 400;
    color: #A9A9A9;
}

.blog-post-title a {
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

article img {
    max-width: 300px;
}